@font-face {
  font-family: 'TAN Headline';
  src: local('TAN Headline'), url('./isle_headline/IsleHeadBo_PERSONAL.ttf');
}

.App {
  padding-top: 30px;
  padding-left: 20px;
}


.App2 {
  padding: 30px;
  text-align: center;
  margin-top: -25px;
}


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #FFFCF7;
}

h3 {
  font-family:  Geneva;
  font-size: 38px;
  font-weight: bold;
  color: #38A169;
  margin-bottom: 18px;
  margin-top: 10px;
}



nav {
  margin-right: 800px;
  margin-top: -20px;
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-right: 7px; /* Espacio entre el logotipo y los enlaces de navegación */
  margin-top: 10px;
}


/* Estilos para los enlaces de la barra de navegación */
nav a {
  text-decoration: none;
  color: #2f855a;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s ease;
}

/* Estilos para el enlace activo */
nav .active {
  background-color: #48bb78; /* Color de fondo para el enlace activo */
  color: #555; /* Color de texto para el enlace activo */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* Estilos para hover */
nav a:hover {
  background-color: #48bb78; /* Color de fondo al pasar el ratón */
  color: white; /* Color de texto al pasar el ratón */
}

h1 {
  color: #2f855a;
  text-align: center;
}

.home-title, .home-title2 {
  font-family: 'TAN Headline', sans-serif;
  font-size: 100px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.home-title {
  color: #1D2C34;
  margin-bottom: 2px;
}

.home-title2 {
  color: #06624C;
  line-height: 0.8;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 58px;
  padding: 20px;


}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  padding-right: 150px;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

.home-title-container {
  margin-top: -30px;
  text-align: center;
}


.home-image img {
  width: 100%;
  height: 708px;
}

.home-image {
  width: 52%;
  height: 708px;
  margin-top: -158px;
  margin-right: -100px;
}
.home-image {
  position: relative;
  left: -25px;
  transition: left 0.5s;
}


.home-description-container {
  background-color: #FFE282;
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  width: 500px;
  align-items: center;
  text-align: center;
}

.home-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 19px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: transparent;
  letter-spacing: 0.5px; /* Espaciado entre letras*/
  margin-top: -13px;
  font-weight: 400;
}


.home-description2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  background-color: transparent;
  letter-spacing: 0.5px;
  margin-top: -12px;
  font-weight: 600;
  text-align: justify;
  text-justify: inter-word;
  margin-top: -20px;
}

.home-description3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #359364;
  font-size: 23px;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  background-color: transparent;
  letter-spacing: 0.5px;
  margin-top: -10px;
  font-weight: 600;
  text-align: center;
}

.home-description4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  background-color: transparent;
  letter-spacing: 0.5px;
  margin-top: -20px;
  font-weight: 600;
  text-align: center;
}


.home-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.buton-container{

  margin-top: -10px;
}


/* Estilos para el formulario de carga de imagen y máscara */
.upload-section {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.inputImage{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.upload-box svg{
 margin-top: 30px;
}

.dragfiles{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: -25px;
  font-size: 23px;
}

.dragfiles2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: -10px;
  font-size: 15px;
  color: #808080;
}


.upload-section label, .upload-section span {
  display: block;
  color: #333;
  padding: 10px;
  border: 5px dashed #aaa;
  cursor: pointer;
  width: 60%;
  height: 250px;
  border-radius: 40px;
}

.upload-section input {
  
  display: none;
}

.upload-section label::after, .upload-section span::after {
  display: block;
  margin-top: 5px;
  text-align: center;
}

.upload-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.upload-label {
  margin-bottom: 16px;
  text-align: center;
  font-size: 1.25rem;
}


.upload-section input {
  display: none;
}

/*Estilos para la Barra de Carga: */
.uploading-info {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 19px;
  font-weight: 600;
  position: absolute;
  bottom:135px;
  left: 0;
  color:#222;
  margin-left: -300px;
  width: 100%;
  padding: 0 550px;
  box-sizing: border-box;
}

.uploading-info2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 19px;
  font-weight: 600;
  position: absolute;
  bottom:135px;
  left: 0;
  color:#222;
  margin-left: 330px;
  width: 100%;
  padding: 0 550px;
  box-sizing: border-box;
}

.uploading-info p, .uploading-info2 p{
  margin-right: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.uploading-info svg, .uploading-info2 svg{
  margin-bottom: -4px;
  padding-right: 5px;
}

.progress-bar {
  width: calc(100% - 20px);
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
}

.progress {
  height: 100%;
  background-color: #4056F4;
  width: 0; /* Inicialmente no mostrar progreso */
  border-radius: 5px;
}

/* Botón para editar imagen */
button {
  background-color: #48bb78; /* Verde claro */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}

button:hover {
  background-color: #38a169; /* Un verde ligeramente más oscuro al pasar el mouse */
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #FFE592;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  height: 600px;
  max-width: 700px;
  z-index: 1001;
  text-align: center;
  position: relative;
}

.modal-content p {
  letter-spacing: -0.4px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1002;
  color: #566;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  transform: scale(1.2);
}

.close-modal:hover {
  color: #666;
  transform: scale(1.3);
}

/* Estilos para la imagen editada */
.edited-image-section {
  margin-top: 20px;
}

.edited-image-section img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-container {
  max-height: calc(100vh - 100px); /* Ajusta la altura máxima restando el margen inferior */
  overflow-y: auto;
  margin-bottom: 100px;
}

.about-container {
  padding: 20px;
}

.imagenes-container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 1px; /* Espaciado entre las imágenes */
  margin : 20px
}

.imagen-container {
  flex: 0 0 auto; /* Permite que el contenedor se ajuste al tamaño de su contenido */
  text-align: center;
  margin: 0px; /* Añade márgenes alrededor del contenedor de la imagen */
}

.imagen-container img {
  width: 580px; /* Establece el ancho máximo de la imagen */
  height: 400px; /* Mantiene la relación de aspecto de la imagen */
  border-radius: 10px; /* Añade bordes redondeados */
}
